@model BusinessObj.EmployeeBO

@{
    ViewBag.Title = "AddRecords";
}
@if (ViewBag.Message == "Data Saved Successfully")
{
    <h2><span class="alert alert-success" id="successMessage">Data Saved Successfully</span></h2>
}
@if (ViewBag.Message == "Some-Problem Occured")
{
    <h2><span class="alert alert-danger" id="successMessage">Some-Problem Occured</span></h2>
}
<h2>Add</h2>


@using (Html.BeginForm("AddRecords","Home",FormMethod.Post, new { id = "form" }))
{
    <style>
        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age)
                @Html.ValidationMessageFor(model => model.Age)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaritalStatusId, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(o => o.MaritalStatusId,
new SelectList(ViewBag.MaritalStatus, "Id", "Status"), "--Select--")
                @Html.ValidationMessageFor(model => model.MaritalStatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary)
                @Html.ValidationMessageFor(model => model.Salary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationId, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(o => o.LocationId,
new SelectList(ViewBag.Location, "LocationId", "LocationName"), "--Select--")
                @Html.ValidationMessageFor(model => model.LocationId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ShowList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")
}
<script>
    //function Insert()
    //{
    //    if ($("#Name").val() == "" || $("#Age").val() == "" || $("#Salary").val() == "" || $("#Location").val() == "" || $("#MaritalStatusId").val() == "") {
    //        alert("All fields are mandatory");
    //        return;
    //    }
    //    else {
    //        $('#form').submit();
    //    }
        
    //}
</script>
